* {
    box-sizing: border-box;

}

body {
    background-color: #4b632a;
    color: aliceblue;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Cormorant Infant", fantasy;
    font-size: 1.2em;

}

.app {
    max-width: 260px;
    *height: 328px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.status-bar {
    background-color: #ad3e02;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    border-radius: 0.6rem;
    padding-right: 1rem;
    border-style: inset;
    border-color: slategray;
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 256px;
    width: 256px;
    background-color: aliceblue;
    background-image: url("./img/background.png");
    background-size: cover;

}

.icon-row {
    background-color: #ad3e02;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.6rem;
    justify-content: space-between;
    border-style: inset;
    border-color: slategray;
    padding: 0.2rem;
}

.action-button {
    width: 64px;
    height: 64px;
}

.pumpkin {
    height: 100%;
    width: 100%;
}

.dialog {
    padding: 0.2rem;
    margin-left: auto;
    margin-right: auto;
}

.dialog-element {
    background-color: #ad3e02;
    color: white;
    font-family: "Cormorant Infant", fantasy;

}


button {
    font-family: "Cormorant Infant", fantasy;
    font-size: 1.2em;
}