* {
    box-sizing: border-box;

}

body {
    background-color: #4b632a;
    color: lightgoldenrodyellow;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: "Cormorant Infant", fantasy;
    font-size: 1.2em;
    margin: 0;
    padding-top: 1rem;
}

.app {
    width: 90vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: hidden;
}

.top-icon-row {
    display: flex;
    width: 100%;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.status-bar {
    background-color: #ad3e02;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    border-radius: 0.6rem;
    padding-right: 1rem;
    border-style: inset;
    border-color: slategray;
}

.display {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background-image: url("./img/background.png");
    background-size: cover;
}

.pumpkin {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.icon-row {
    background-color: #ad3e02;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.6rem;
    justify-content: space-between;
    border-style: inset;
    border-color: slategray;
    padding: 0.2rem;
}

.action-button {
    width: 64px;
    height: 64px;
}

.dialog {
    padding: 0.2rem;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 1.6rem;*/
}

.dialog-element {
    background-color: #ad3e02;
    color: lightgoldenrodyellow;
    font-family: "Cormorant Infant", fantasy;
}

.MuiTable-root {
    background-color: #4b632a;
}

.MuiPaper-root {
    border-radius: 0.6rem;
}

button {
    font-family: "Cormorant Infant", fantasy;
    font-size: 1.2em;
}

.table-row {
    background-color: #c17400;
}

.highlighted-row {
    background-color: darkorange;
}

.status, p, h2 {
    padding: 0;
    margin: 0;
    text-align: center;
}